<!DOCTYPE html>
<html>
	<head>
		<title>Megam Systems - Live cloud using cloud identity.</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<%= analytics_init if Rails.env.production? %>
<div class="navbar navbar-fixed-top">
    <div class="navbar">
    <div class="navbar-inner">
<div class = "span2" >
    <a  href="http://blog.megam.co" > <%= image_tag "logo-megam160x43.png", :alt => "Megam", :class => "megam_image" %></a>
</div>
<div class = "span6 offset1" >
<h3 id="megam-head">Megam Systems</h3>
</div>
    </div>
    </div>
</div>

	</head>
	<body>

		<%= yield %>
		<!-- JQuery will invoke via the spinner and display a loading modal lock. -->
		<div id="loading" />

	</body>
</html>

